/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility classes for shared styles */
.bg-gradient-page {
    background: linear-gradient(315deg, rgba(23,29,37,1) 0%, rgba(7,85,135,1) 100%);
}

.text-custom-white {
    color: white;
}

body {
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-gradient-page;
    background-repeat: no-repeat;
    min-height: 100vh;
    @apply text-custom-white;
}

/* Container styles */
.container-custom {
    position: static;
    max-width: 71rem;
    margin: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(135deg, rgba(23,29,37,1) 0%, rgba(7,85,135,1) 100%);
    color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: max-height 0.3s ease-out;
    z-index: 10;
}

.collapse-trigger {
    max-width: 71rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    @apply text-custom-white;
    background: rgba(23,29,37,0.8);
    cursor: pointer;
    transition: background-color 0.5s ease;
    scroll-margin-top: 4rem;
}

.collapse-trigger:hover {
    background: rgba(7,85,135,0.8);
}

.collapse-content {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom right, rgba(30, 60, 114, 0.9), rgba(42, 82, 152, 0.95));
}


.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0.25rem 0;
}

.navbar li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.navbar li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.project-tile {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 13.25rem;
    margin: 1.5rem auto;
    background: linear-gradient(to bottom right, #1e3c72, #2a5298);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.project-tile:hover {
    transform: scale(1.25);
}

.project-tile:hover .project-description {
    opacity: 1;
}

.project-tile:hover .project-title {
    opacity: 0;
}

.project-content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}

.project-title,
.project-description {
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    margin: 0;
}

.project-title {
    font-size: 1.25rem;
    font-weight: bold;
    opacity: 1;
}

.project-description {
    opacity: 0;
}

.glow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background-color: transparent;
    box-shadow: 0 0 300px 50px rgba(100, 100, 255, .1);
    pointer-events: none;
    transform: translate(-50%, -50%);
}

@keyframes flash {
    0%, 100% { background-color: opaque; }
    50% { background-color: rgba(20,95,135,1); }
}

.flash-effect {
    animation: flash 0.75s 2;
}

/* Course modal styles */
.modal-open-button {
    @apply text-white font-bold py-2 px-4 rounded mt-4;
    background: linear-gradient(to bottom right, #1e3c72, #2a5298);
}
.modal-open-button:hover {
    background:rgba(20,95,135,1);
}

.modal-category {
    @apply mt-4 text-left mx-auto;
    max-width: 100%;
}

.modal-subtitle {
    @apply text-xl font-bold mt-4;
}

.modal-list {
    @apply list-disc pl-5 mt-2 ml-0;
    max-width: 100%
}

.modal-list-item {
    @apply text-left;
}

/* EducationModal styles */
.education-modal-overlay {
    z-index: 1001;
    @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center overflow-y-auto;
    padding: 1rem;
    padding-top: 5rem;
    transition: opacity 0.3s ease;
}

.education-modal-content {
    @apply bg-gradient-page text-custom-white rounded-lg shadow-lg p-4 w-full mx-auto;
    max-height: calc(100vh - 5rem);
    overflow-y: auto; 
    max-width: 500px;
}

/* ProjectModal styles */
.modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50;
    z-index: 1001;
    transition: opacity 0.3s ease;
}

.modal-content {
    @apply bg-gradient-page text-custom-white rounded-lg shadow-lg p-4 max-w-3xl w-full mx-4;
    max-height: calc(100vh - 5rem);
    overflow-y: auto;
}

.modal-close-button {
    @apply absolute top-2 right-2 bg-transparent hover:bg-blue-400 text-lg;
}

.modal-title {
    @apply text-2xl font-bold mt-2;
}

.modal-description {
    @apply mt-4;
}

.modal-image {
    @apply rounded mt-4 max-h-80 w-full object-contain;
}

.modal-link {
    @apply inline-block mt-4 bg-blue-500 hover:bg-blue-700 rounded px-4 py-2;
}

/* Fade-in and fade-out animations */
.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

